Lab_03.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="administrator">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="admin_information">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="admin">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="id"/>
                    <xs:element type="xs:string" name="username"/>
                    <xs:element type="xs:string" name="password"/>
                    <xs:element type="xs:string" name="firstname"/>
                    <xs:element type="xs:string" name="lastname"/>
                    <xs:element type="xs:byte" name="age"/>
                    <xs:element type="xs:long" name="phone"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="candidate_information">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="candidate" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="CandidateID"/>
                    <xs:element type="xs:string" name="C_password"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:byte" name="age"/>
                    <xs:element type="xs:string" name="symbol"/>
                    <xs:element type="xs:string" name="possition"/>
                    <xs:element type="xs:string" name="from"/>
                    <xs:element type="xs:string" name="region"/>
                    <xs:element type="xs:string" name="photo"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="voters_information">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="voter" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="id"/>
                    <xs:element type="xs:string" name="v_password"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="votersID"/>
                    <xs:element type="xs:byte" name="age"/>
                    <xs:element type="xs:string" name="from"/>
                    <xs:element type="xs:string" name="region"/>
                    <xs:element type="xs:string" name="photo"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>